
<link rel="stylesheet" href="/styles/usercreate.css">


<div class="usercreate">
    <h1>TAREFASSC</h1>
    <h3>crie um nome e senha</h3>
    <form action="/registration/authemail" method="POST">
        <input type="text" name="name" placeholder="seu nome" required>
        <input type="password" name="pass" placeholder="sua senha" required>
        <input type="password" name="confirmPass" placeholder="confirme sua senha" required>
        <button>criar</button>
    </form>
</div>